<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>

    {{>navbar}}

    <!-- Main head -->
    <div class="container_fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- Left Side Div -->
                    <div class="col-md-6 col-12 main_header_left align-items-center">
                        <figure>
                            <img src="images/myPhoto.png" alt="Shashank" class="img-fluid" title="Shashank Singh">
                        </figure>
                    </div>
                    <!-- Right Side Div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Hey, I am Shashank Singh, 3rd year student at Delhi Technological University, pursuing my bachelors in Computer Enginering. 
                            To learn more about my profile, click the button below. 
                        </p>
                        <a href="https://www.linkedin.com/in/shashank-singh-3ba53b18b//" target="_singh">
                            <button>My Profile</button>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {{>footer}}


</body>

</html>